/* Set initial state of margin and padding for the website */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* Set Body Backrground color */
body {
    background-color: #d9dcd6;
}

/* Header CSS start */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* H1 Header size and display */
.header h1 {
    display: inline-block;
    font-size: 48px;
}
/* change the color of the seo in h1 tag */
.header h1 .seo {
    color: #d9dcd6;
}
/* navigation formating */
.header ul{
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    list-style-type: none;
}
/* display the links in the header inline and add margin to the left  */
.header ul li {
    display: inline-block;
    margin-left: 25px;
}
/* End Of header css  */

/* Setting color and decoration at high level for for all links */
a {
    color: #ffffff;
    text-decoration: none;
}
/* Setting high level font size for all text in p tags */
p {
    font-size: 16px;
}
/* Website Main Image CSS */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* floating elements to the left and adding the marigin to the right */
.float-left {
    float: left;
    margin-right: 25px;
}
/* floating elements to the right and adding the marigin to the left */
.float-right {
    float: right;
    margin-left: 25px;
}

/* .benefits CSS START  */

/* setting the .benefits section with margin, floating to the right of the content section  */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* setting the margin-bottom and color for all divs in .benefits */
.benefits div {
    margin-bottom: 32px;
    color: #ffffff;
}
/* setting the margin-bottom and text aligned to the center for all 
h3 elements in divs of .benefits */
.benefits div h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* setting the margin and max-width with block display for all 
img elements in divs of .benefits */
.benefits div img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* .benefits CSS END */


/* .content CSS START  */
/* setting the width and display of the .content section  */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* formating for all divs in content */
.content div {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/* setting the max-height for all 
img elements in divs of content */
.content div img {
    max-height: 200px;
}
/* setting the margin-bottom and font-size for all 
h2 elements in divs of content */
.content div h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/* .content CSS END */

/* .footer CSS START */
/* formating for the footer of the website */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/* formating for all h2 elements in the footer */
.footer h2 {
    font-size: 20px;
}
/* .footer CSS END */
